*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(70deg, #667eea, #9659d5);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(6, 90px);
}


.calculator-grid > .usual-btn {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;    
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > .usual-btn:hover {
    background-color: rgba(255, 255, 255, .95);

}

.calculator-grid > .span-two {
    grid-column: span 2;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;    
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > .span-two:hover {
    background-color: rgba(255, 255, 255, .95);
}

.calculator-grid  .span-full {
    grid-column: 1 / -1;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;    
    outline: none;
    background-color: rgba(255, 150, 0, .85);
    
}

.calculator-grid  .span-full:hover {
    background-color: rgba(255, 150, 0, .95);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap:  break-word;
    word-break: break-all ;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white ;
    font-size: 2.5rem;
    overflow: hidden;
}