h2 {
    background-color: rgba(255, 255, 255, 0.78);
    padding: 30px 0px;
    text-align: center;
    color: tomato;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
      -2px -2px 5px 0 rgba(0, 0, 0, .1),
      2px 2px 5px 0 rgba(0, 0, 0, .1),
      -2px 2px 5px 0 rgba(0, 0, 0, .1);
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .container {
    width: 30%;
  }

  a {
    color: tomato;
    text-decoration: none;
  }

  .active a { 
    color: red;
  }