<h2> <a routerLink="" routerLinkActive="active">Home pets list:</a> </h2>
<div class="wrapper">
    <div class="container">
        <router-outlet></router-outlet>
        <!-- <app-pet-list></app-pet-list> -->
    </div>
</div>
