body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    font-weight: 500;
    color:#130e27;
    background-color: white ;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 0.85em;
}

*, 
*:after, 
*:before {
    
}

.main {
    width: 100%;
    height: 90vh;
    background: 
    url("images/background.jpg")
    center no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    background-color:#f31c1c;
}

.header {
    margin-top: 2vh;
    margin-bottom: 20vh;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    font-size: 5.5vw;
    overflow: hidden;
    margin-left: -1.5vw;
    font-weight: 500;
    color: #ffffff;
    
}

/*navigation*/
nav{
    margin-top: 40px;
    margin-right: 10vw;
    font-size: 40px;
}

nav a {
    text-decoration: none;
    font-weight: 300;
    font-size: 2vw;
    color: #ffffff;
    padding: 5px 12px 6px 9px;
    transition: 0.5s;
    margin-right: 15px;  
    
}

nav a:hover {
    border: 0;
    border-radius: 5px;
    background: #130e27;
    color: #fff;
    text-align:center;
    transition: 0.5s;  
}

/*hello-block*/
.form_and_hello{
    display: inline-flex;
    justify-content: space-between;
}

.helllopage {
    color:#130e27;
    width: 40%;
    margin-left: 10vw;
}

.sellyour{
    font-size: 4.3vw;
}

.white{
    color:white;
}

.info_text{
    margin-top: 6vh;
    color: white;
    width: 95%;
}

/*form*/
.form {
    margin-right: 10vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px 4px #a9a9a9;
    height: 40vw;
    padding: 20px;
    width: 27vw;
  }
  
  .title {
    color: #130e27;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.41vw;
    font-weight: 300;
    margin-top: 30px;
  }
   
  .input-container {
    height: 3.91vw;
    border: 2px solid white;
    border-radius: 12px;
    position: relative;
    width: 100%;
  }

  .input-container label > span{
    color: red;
  }
  input {
    border: 2px solid red;
    border-radius: 12px;
  }
  .ic1 {
    color: red;
    margin-top: 1.5625vw;
    /* border: 2px solid red;
    border-radius: 12px; */
  }
  
  .ic2 {
    margin-top: 1.172vw;
  }

  .ic3{
    height: 2.4vw;
    margin-top: 1.172vw;
    display: inline-block;
    text-align: center;
    font-size: 1vw;
    
  }

  .input {
    background-color: #eeeeee;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #130e27;
    font-size: 1.5vw;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  ::-webkit-input-placeholder{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 300;
    font-size: 1.36VW;
      
  }

  .check_text{
      color: #130e27;
      text-align: center;
      display:  inline-block;
  }
  
  .custom-checkbox{
      width: 6vh;
      display:  inline-block;
  }
  .submit {
    background-color: #ed0e0e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    text-transform: uppercase;
    font-size: 1.41vw;
    font-weight: 300;
    height: 4vw;
    margin-top: 0;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #130e27;
  }

  .our_services{
    color: black;
  }
  .hr-horizontal {
    margin: 0 auto;
    padding: 0;
    height: 2vh;
    border: none;
    background: #e7e7e7;
  }
.service_header{
  font-size: 2.2vw;
  margin-top: 3vw;
  margin-left: 10vw;
  margin-bottom: 7vw;
}
.service_elements{
  margin-bottom: 6vw;
  width: 100vw;
  display: inline-flex;
  justify-content: center;
}
.serv_element{
  text-align: center;
  width: 22.5vw;
}
.service_images{
  display: block;
  margin:auto;
  width: 15vw;
}
.more_info{
  box-sizing: border-box;
  width: 100%;
  padding: 3% 10vw;
  display: inline-flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #130e27;
  
}
.more_info_text{
  width: 50vw;
  color: white;
}
.our_story{
    
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;  
    text-transform: uppercase;
    font-size: 1.41vw;
    font-weight: 300;
    outline: 0;
}

.btn1{
  background-color: #ed0e0e;
  width: 20vw;
  height: 4vw;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 0;
}

.btn2{
  background-color: #ed0e0e;
  width: 14vw;
  height: 3vw;
  border-radius: 6px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  margin-top: 1.5vw;
}

.btn3{
  background-color: #130e27;
  width: 14vw;
  height: 3vw;
  border-radius: 6px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
  margin-top: 1.5vw;
}


.pricing_block{
  background-color:#efefef;
}
.price{
  padding: 1.5vw 0;
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: #ed0e0e;
}

.price_boxes{
  width: 100vw;
  display: inline-flex;
  justify-content: center;
}

.price_box{
  padding: 2vw 0 0 0;
  margin: 0 1vw;
  width: 23vw;
  text-align: center;
  background-color:white;
}

.pb2{
  position: relative;
}

.price_text{
  font-size: 3.6vw;
  font-weight: bold;
  text-align: center;
  padding: 4.5vw 0;
}

.popular{
  position: absolute;
  width: 10vw;
  top: -2VW;
  left: -2vw;
}

.tm_text_all{
  margin-top: 9vw;
  display: inline-flex;
  justify-content: center;
  width: 100vw;
}

.tm_text{
  padding: 0 7vw;
  font-size: 3.6vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.t2{
  color: #ed0e0e;
}

.testimotinal_block{
  position: relative;
  margin-bottom: 15vw;
}


.first_comment{
  width: 31vw;
  margin-top: 3vw;
  margin-left: 14vw;
}
.dj{
  padding: 1vw 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #130e27;
}

.seccond_comment{
  padding-left: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-right: 5vw;
  width: 36vw;
  margin-top: 3vw;
  margin-left: 12vw;
  color: #ed0e0e;
  background-color: #efefef;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
}
.strange{
  position: absolute;
  top: 14vw;
  right: 0;
  width: 55vw;
  margin: 0;

}

.footer{
  box-sizing: border-box;
  width: 100%;
  padding: 5vw 7vw 5vw 3vw;
  display: inline-flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #130e27;
  
}
.footer_text{
  width: 50vw;
  color: white;
}

.footer_logo{
  color: #d02515;
  font-size: 5vw;
  font-weight: 500;
}


