<form [formGroup]="updateForm" (ngSubmit)="editPet()"> 
    <div class="form-block">
      <label>Name</label>
      <input 
        class="form-control" 
        name="name"
        formControlName="name"
      >
    </div>

    <div class="form-block">
      <label>Weight</label>
      <input 
        type="number" 
        class="form-control" 
        name="weight" 
        formControlName="weight"
      >
    </div>

    <div class="form-block">
      <label>Type: </label>
      <select 
        class="form-control" 
       name="company" 
       formControlName="type">
          <option 
            *ngFor="let type of types" 
            [value]="type"
          >
              {{ type }}
          </option>
      </select>
    </div>

    <div class="form-block">
      <label>Sex</label>
      <select 
        class="form-control"
        name="sex" 
        formControlName="sex">
          <option 
            *ngFor="let petSex of sexType" 
            [value]="petSex" 
            required>
              {{ petSex }}
          </option>
      </select>
    </div>

    <div class="form-block">
      <button class="btn btn-default" [disabled]="updateForm.invalid">
        Save
      </button>
    </div>
  </form>
