h2 {
    background-color: var(--list-color);
    padding: 30px 0px;
    text-align: center;
    color: var(--header-color);
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
      -2px -2px 5px 0 rgba(0, 0, 0, .1),
      2px 2px 5px 0 rgba(0, 0, 0, .1),
      -2px 2px 5px 0 rgba(0, 0, 0, .1);
  }
  