* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
}

html[data-theme='light'] {
  --header-color: tomato;
  --background-color: #ffffff;
  --font-color: #000000;
  --button-color: #FF8C00;
  --button-text-coor: #ffffff;
  --list-color: #ffffff;
}

html[data-theme='dark'] {
  --header-color: #06c7ea;
  --background-color: #383b40;
  --font-color: #ffffff;
  --button-color: #0073ff;
  --button-text-coor: #000000;
  --list-color: rgba(40, 43, 46, 0.74);
}
