.border li {
    list-style-type: none;
    background-color: var(--list-color);;
    cursor: pointer;
    padding: 30px 20px;
    margin: 10px 10vw;
    border-radius: 5px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
      -2px -2px 5px 0 rgba(0, 0, 0, .1),
      2px 2px 5px 0 rgba(0, 0, 0, .1),
      -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s all linear;
  }
  
  .border li:nth-child(3n) {
    border-color: #8bc63e;
  }
  
  .border li:nth-child(3n+2) {
    border-color: #1ccfc9;
  }
  
  .border li:nth-child(5n+5) {
    border-color: #fcba30;
  }
  
  