.mainButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    color: var(--button-text-coor);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 25px;
    outline: none;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    line-height: 5vh;
    text-decoration: none;
    background-color: var(--button-color);
    ;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s;
}
