* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://wallpapershome.ru/images/pages/pic_h/20871.jpg");
    position:fixed;
    top:0;
    left:0; 
    min-width:100%;
    min-height:100%;
}

.container {
    width: 95vw;
    height: 90vh;
    margin: 50px auto;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glasstext {
    text-align: center;
    margin: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 140px;
    color: white;
    font-weight: 200;
    text-transform: lowercase;
}

.butons {
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}

.border-button {
    text-decoration: none;
    display: inline-block;
    padding: 5vw 10vw;
    margin: 10px 20px;
    position: relative;
    color: white;
    border: 2px solid rgba(255, 255, 255, .4);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4vw;
}

.border-button:before,
.border-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.border-button:before {
    bottom: 0;
    left: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

.border-button:after {
    top: 0;
    right: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

.border-button:hover:before,
.border-button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.border-button:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

.border-button:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

.border-button:hover {
    background: rgba(255, 255, 255, .2);
    cursor: pointer;
}
