body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 333;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.table_films {
    margin: 1vh auto;
    width: 80vw;
    border-collapse: collapse;
    border-left: 3px solid #0aa8cc;
    border-right: 3px solid #0aa8cc;
    border-bottom: 3px solid #0aa8cc;
}

.table_films caption {
    text-transform: uppercase;
    background: #0aa8cc;
    font-weight: 600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: center;
    margin: 0;
}

.table_films thead {
    padding: 20px 10px;
    font-size: 1.2vw;
    text-align: left;
    font-weight:bold;
}

.table_films td, th {
    width: 5vw;
    padding: 10px;
    border: 1px solid #0aa8cc;
}

.table_films tr:nth-child(2n) {
    background: #E5E5E5;
}


.table_films td:last-of-type {
    text-align: center;
}

.change_table {
    width: 80%;
    margin: 10px auto;
    text-align:center;
}

.button {
    background-color: #0aa8cc;
    color: white;
    width: 10vw;
    padding: 15px;
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border-style: none;
    transition: 120ms;
    opacity: 0.8;
}


.bt1 {
    background-color: #FA1616;
}

.button:active {
    opacity:1;
}
.button:hover {
    cursor: pointer;
}

.button:active {
}

input {
    width: 10vw;
    padding: 14px 15px;
    font-size: 1.2vw;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 1.2vw;
    font-weight: normal;
}
