
.form-block {
  margin-top: 20px;
  text-align: center;
  align-items: center;
  display: block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;

  input,
  select {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
      -2px -2px 5px 0 rgba(0, 0, 0, .1),
      2px 2px 5px 0 rgba(0, 0, 0, .1),
      -2px 2px 5px 0 rgba(0, 0, 0, .1);
    transition: 0.3s all linear;
    width: 25vw;
    display: block;
    font-weight: 500;
    border: solid white 3px;
  }

  input.ng-touched.ng-invalid {
    border: solid red 3px;
  }
  input.ng-touched.ng-valid {
    border: solid green 3px;
  }
}

button {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 25px;
    outline: none;
    border: 2px solid #FF8C00;
    border-radius: 10px;
    line-height: 3vh;
    text-decoration: none;
    background-color: #FF8C00;
    ;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s;
  
    &:hover {
      transition: all 0.5s;
      border: 2px solid #fff;
    }
  
    &:active {
      background-color: #FF8C00;
    }
    &:disabled {
      background-color:#858585;
      color: #c0c0c0;
      cursor: default;
      border: 2px solid #2b2b2b;
    }
  }
