  <form #petForm="ngForm" (ngSubmit)="addPet()"> 
    <div class="form-block">
      <label>Name</label>
      <input 
        class="form-control" 
        name="name" 
        [(ngModel)]="formPet.name"
        #name="ngModel" 
        required
        minlength="3"
        maxlength="20"
        >
    </div>

    <div class="form-block">
      <label>Weight</label>
      <input 
        type="number" 
        class="form-control" 
        name="weight" 
        [(ngModel)]="formPet.weight"
        #weight="ngModel"
        required>
    </div>

    <div class="form-block">
      <label>Type: </label>
      <select 
        class="form-control" 
       name="company" 
        [(ngModel)]="formPet.type">
          <option 
            *ngFor="let type of types" 
            [value]="type" 
            required>
              {{ type }}
          </option>
      </select>
    </div>

    <div class="form-block">
      <label>Sex</label>
      <select 
        class="form-control"
        name="sex" 
        [(ngModel)]="formPet.sex">
          <option 
            *ngFor="let petSex of sexType" 
            [value]="petSex" 
            required>
              {{ petSex }}
          </option>
      </select>
    </div>

    <div class="form-block">
      <button class="btn btn-default" [disabled]="!petForm.valid">
        Add pet
      </button>
    </div>
  </form>