@main-color: #f05d22;


.petlist {
  &:nth-child(3n) {
    li {
      border-color: #8bc63e;
    }
  }

  &:nth-child(3n+2) {
    li {
      border-color: #1ccfc9;
    }
  }

  &:nth-child(5n+5) {
    li {
      border-color: #fcba30;
    }
  }
}

.border {
  margin: 5px auto;
  width: 30vw;
  list-style: none;
  padding: 0;

  li {
    background-color: rgba(255, 255, 255, 0.97);
    cursor: pointer;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border-left: 10px solid @main-color;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
      -2px -2px 5px 0 rgba(0, 0, 0, .1),
      2px 2px 5px 0 rgba(0, 0, 0, .1),
      -2px 2px 5px 0 rgba(0, 0, 0, .1);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.3s all linear;
  }
}

.standartButton {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0 25px;
  outline: none;
  border: 2px solid #FF8C00;
  border-radius: 10px;
  height: 5vh;
  text-decoration: none;
  background-color: #FF8C00;
  ;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s;

  &:hover {
    transition: all 0.5s;
    border: 2px solid #fff;
  }

  &:active {
    background-color: #FF8C00;
  }
}

.btnShowCats {
  background-color: #1ccfc9;
  border: 2px solid #1ccfc9;
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;

  button {
    position: relative;
    margin-right: 5px;
    left: 0;
    transform: translate(0, 0);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px;
    outline: none;
    border: 2px solid #FF8C00;
    border-radius: 10px;
    height: 3vh;
    text-decoration: none;
    background-color: #FF8C00;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s;

    &:hover {
      transition: all 0.5s;
      border: 2px solid #fff;
    }

    &:active {
      background-color: #FF8C00;
    }
  }
}

.navigateButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    position: relative;
    margin-right: 5px;
    margin-bottom: 30px;
    left: 0;
    transform: translate(0, 0);
  }
}