
<div class="navigateButtons"> 
  <button class="standartButton" [ngClass]="{btnShowCats: hideCats}" (click)="showOrHideCats()"> {{buttonText}} </button>
  <button class="standartButton" (click)="goToAdd()"> Add pet </button>
</div>

<div class="petlist" *ngFor="let pet of pets">
  <ul class="border">
    <li (click)="pet.isHidden=!pet.isHidden;"> {{pet.name}} is a {{[pet.type]}}
      <app-info-pet (canSaySomething)="consoleSay($event)" [pet]="pet"></app-info-pet>
    </li>
  </ul>
  <div class="buttons">
    <button (click)="goToEdit(pet._id)">Edit</button>
    <button (click)="deleteThisPet(pet)">Delete</button>
  </div>
</div>
