body {
    height: 100vh;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  p {
      margin: 0;
  }

  span {
    color: cyan;
    font-weight: bold;
    display: inline-block;
      width: 1em;
    font-size: 20px;
  }
