body {
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    background: linear-gradient(45deg, #8fc5e4, #47bff7) no-repeat;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

/* header */

.weather_header{
    text-align: center;
    margin: 20px;
}
.city_name {
    font-size: 100px;
}

.city_weather {
    font-size: 45px;
    font-weight: 300;
}

.city_degrees {
    font-size: 110px;
}

/* weather prediction */

.weather_prediction {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.prediction_block {
    display: ruby;  /* show or hidden this block */
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 10px;
    width: 12vw;
    height: 20vh;
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}
/* .bl5 {
    display: none;
}
.bl6 {
    display: none;  
} */
.prediction_header {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 100;
}
.prediction_image {
    position: relative;
    top: -30px;
}
.prediction_image img {
    width: 8vw;
}
.prediction_degrees {
    position: relative;
    top: -70px;
    font-size: 50px;
}

/* weather information */
.weather_information {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.information_block {
    display: ruby; /* show or hidden this block */
    text-align: center;
    width: 36vw;
    margin-bottom: 5vh;
    margin-top: 3vh;
}
.information_title {
    font-weight: 100;
}

/* input form */
.input_form {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.weather_for_three_days {
    margin-left: 3vw;
}
input {
    width: 15vw;
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding:10px;
    border-radius:10px;
    border-width: 0;
}
button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
	padding: 0 25px;
	outline: none;
	border: 2px solid #FF8C00;
    border-radius:10px;
	line-height: 5vh;
	text-decoration: none;
	background-color: #FF8C00;;
	cursor: pointer;
	user-select: none;
	touch-action: manipulation;  
	transition: box-shadow 0.2s;
}
button:hover {
	transition: all 0.5s;
    border: 2px solid #fff;
}
button:active {
    background-color: #FF8C00;
}

/* Wrong city */
.wrong_city {
    margin-top: 20px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.messae {
    display: none;
    padding: 10px;
    width: 40vw;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid #FF8C00;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }